
/* ---------------------- generic body styles */

body {
	overflow: hidden;
}

/* generic container - normally a <div> */
body .container { 
	overflow: hidden;
	display:block;
	margin:auto;
	max-width: 90%;
	min-width: 480px;
	padding: 10px;
}

body .column {
	margin: 0;
	display: inline-block;
	vertical-align: top;
	width: 49%;
	min-width: 240px;
}

body .project {
	padding: 5px;
	border-radius: 3px;
	margin: 2px;
	box-shadow: 0px 0px 2px 2px #cccccc;
}

/* generic forms */

body form {
	overflow: hidden;
	display: block;
	max-width: 550px;
	padding: 5px;
	border-radius: 5px;	
	box-shadow: 0px 0px 2px 2px #cccccc;
}

body form .form-group {
	margin-top: 5px;
	min-width: 300px;
}

body form .error {
	padding: 0, 10px, 0, 10px;
	width: 100%;
	background-color: #f24848;	
	color: white;
	font-weight: 400;
}

body form label {
	display: inline-block;
	width: 28%;
}

body form input {
	height: 20px;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	display:inline-block;
	width: 70%;
	max-width: 400px;
}

body form input[type=submit] {
	display:block;
	margin: auto;
	max-width: 100px;
}

body form input.invalid{
	border-color: #f24848;
	border-style: solid;
}

body form input.disabled{
	opacity: .5;
}



/* ----------- styles scoped to specific pages */


/* login/register page */
body#loginPage .info {
	margin-bottom: 10px;
	height: 40px;
	width: 100%;
	background-color: #fffcb7;
}
body#loginPage .info .message {
	display: block;
	margin:auto;
	max-width: 90%;
}

footer{
	margin-top: 3em;
	padding-top:1em;
}

header{
	margin-bottom: 2em;
}
header, footer, .container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

header nav, header h1{
	display:inline-block;
}

main{
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
  width: 100%;
  padding: 45px;
}

header nav{
	margin-top: 0;
}

header nav a{
  display: inline-block;
  text-align:center;
  text-transform: uppercase;
  text-decoration: none; 	
  outline: 0;
  background-color: #4C0050;
  border: 0;
  padding: 5px 15px;
  color: #FFFFFF;
  font-size: 0.8em;
  -webkit-transition: background-color 2s ease;
  transition: background-color 2s ease;
  cursor: pointer;	
}

header nav a:hover{
	background-color: yellow;
}


