<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" >
<head>
<link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css/flag-icon.css}" type="text/css" />
<meta charset="ISO-8859-1">

<title th:text="#{addproj.title}">Add Project</title>
</head>

<body>
<h2><span th:text="#{addproj.details}">Project Details</span></h2>
		<form id="addproject-form" method="post" th:action="@{addproject}">
		
			<div class="form-control">
				<label for="newTitle"><span th:text="#{addproj.newtitle}">Project Title: </span></label>
				<input  id="newTitle" type="text" name="projectName" required/>
			</div>
			
			<div class="form-control">
				<label for="projectDescription"><span th:text="#{addproj.newdesc}">Project Description:</span> </label>
				<input  id="projectDescription" type="text" name="description" required/>
			</div>
			
			<div class="form-control">
				<label for="projectGoal"><span th:text="#{addproj.newdesc}">Project Description:</span> </label>
				<input  id="projectGoal" type="number" name="targetAmount" required/>
			</div>
			
			<input hidden type="number" name="userId"/>
			
			<div class="form-control" >
				<input type="submit" value="Add" />
			</div>
		</form>
</body>

<footer>
	<div class="container">
		<a th:href="@{/}+'?lang=de'"><i class="flag-icon flag-icon-de"></i></a>
   		<a th:href="@{/}+'?lang=ie'"><i class="flag-icon flag-icon-ie"></i></a>
   	</div>
</footer>
</html>