<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" >
<head>
<link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css/flag-icon.css}" type="text/css" />

<title>Login</title>
</head>
<body id="homePage">
	<div class="container">
		<h1> Welcome, Clíona! (if you are not Clíona, stop reading immediately) </h1>
		<a class="button"> Get Started! </a>
		
		<div class="container">
			<p>Active projects:</p>
			<div></div>
		</div>
		
	</div>
	
	<footer>
			<a th:href="@{/}+'?lang=de'"><i class="flag-icon flag-icon-de"></i></a>
    		<a th:href="@{/}+'?lang=ie'"><i class="flag-icon flag-icon-ie"></i></a>
	</footer>
</body>
</html>