<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" >
<head>
<link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css/flag-icon.css}" type="text/css" />

<title>Login</title>
</head>
<body id="homePage">
	<div class="container">
		<h1> <span th:text="#{index.cliona}">Welcome, Clíona! (if you are not Clíona, stop reading immediately)</span> </h1>
		<a class="button"><span th:text="#{index.start}"> Get Started!</span> </a>
		<nav>
		    <a th:href="@{/dashboard}" th:text="#{index.dashboard}">Go to Dashboard</a>
	    </nav>
		<div class="container">
			<p><span th:text="#{index.active}">Active projects:</span></p>
			<div></div>
		</div>
		
	</div>
	
	<footer>
			<a th:href="@{/}+'?lang=de'"><i class="flag-icon flag-icon-de"></i></a>
    		<a th:href="@{/}+'?lang=ie'"><i class="flag-icon flag-icon-ie"></i></a>
	</footer>
</body>
</html>