<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" >
<head>
<link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css/flag-icon.css}" type="text/css" />

<title th:text="#{login.title}">Login</title>
</head>
<body id="loginPage">
	
	<div class="info" th:if="${param.logout}"> 
		<div class="message">
			<span th:text="#{login.logoutmessage}">You have been logged out.</span>
		</div>
	</div>
	<div class="info" th:if="${param.signedUp}">
		<div class="message" th:text="#{login.signedUpMessage}">You're Signed Up! Go ahead and log in!</div>
	</div>
	<div class="container">
		<div class="column">
			<h2><span th:text="#{login.title}">Login</span></h2>
			<form id="login-form" method="post" th:action="@{login}">
			
				<div class="error" th:if="${param.error}"><span th:text="#{login.invalidEmail}">Invalid email or password.</span></div>
				
				<div class="form-group">
					<label for="loginUsername"><span th:text="#{login.email}">Email: </span></label>
					<input  id="loginUsername" type="email" name="email" required/>
				</div>
				
				<div class="form-group">
					<label for="loginPassword"><span th:text="#{login.pw}">Password:</span> </label>
					<input  id="loginPassword" type="password" name="password" required/>
				</div>
				
				<div class="form-group" >
					<input type="submit" value="Sign In" />
				</div>
			</form>
		</div>
		
		<div class="column">
			<h2><span th:text="#{login.signup}">or... Sign Up!</span></h2>
			<form id="register-form" method="post" th:action="@{register}">
			
				<div class="error" th:if="${param.registrationError}"><span th:text="#{login.regerror}">An error occurred during registration</span></div>
				
				
				<div class="form-group">
					<label for="registerName">Full name: </label>
					<input  id="registerName" type="text" name="name" required/>
				</div>
				
				
				<div class="form-group">
					<label for="registerUsername"><span th:text="#{login.email}">Email: </span></label>
					<input  id="registerUsername" type="email" name="email" required/>
				</div>
				
				<div class="form-group">
					<label for="registerPassword"><span th:text="#{login.pw}">Password:</span> </label>
					<input  id="registerPassword" type="password" name="password" required/>
				</div>
				
				<div class="form-group">
					<label for="registerConfirmPassword"><span th:text="#{login.confPw}">Confirm Password:</span></label>
					<input  id="registerConfirmPassword" type="password" required/>
				</div>
				
				<div class="form-group" >
					<input id="registerSubmit" type="submit" value="Sign Me Up!" />
				</div>
				
				<script>
					// check that password confirmation matches password
					var confirmPasswordListener = function(blurEvent){
						var password        = document.getElementById("registerPassword");
						var confirmPassword = document.getElementById("registerConfirmPassword");
						var registerSubmit  = document.getElementById("registerSubmit");
						
						if (password.value === confirmPassword.value){
							confirmPassword.classList.remove("invalid");
							registerSubmit.classList.remove("disabled");
							registerSubmit.disabled = false
							
						}else{
							confirmPassword.classList.add("invalid");
							registerSubmit.classList.add("disabled");
							registerSubmit.disabled = true;
							
						}
					}
					var confirmPassword = document.getElementById("registerConfirmPassword");
					confirmPassword.addEventListener('blur', confirmPasswordListener);
				</script>
			</form>
		</div>
	</div>
	
	
</body>

<footer>
	<div class="container">
		<a th:href="@{/}+'?lang=de'"><i class="flag-icon flag-icon-de"></i></a>
   		<a th:href="@{/}+'?lang=ie'"><i class="flag-icon flag-icon-ie"></i></a>
   	</div>
</footer>
</html>