<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" >
<head>
<link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css/flag-icon.css}" type="text/css" />

<title>Login</title>
</head>
<body id="homePage">


	<div class="container">
		<h1> <span th:text="#{index.projectsHeader}"></span> </h1>
		
		<div class="container">
			<p><span th:text="#{index.active}">Active projects:</span></p>
			<div class="project" th:each="project: ${projects}">
				<h4 th:text="${project.projectName}"></h4>
				<p  th:text="${project.description}"></p>
				<div><span> Goal:  </span> <span th:text="${project.targetAmount}"></span></div>
			</div>
		</div>
		
	</div>
	
	<footer>
		<div class="container">
			<a th:href="@{/}+'?lang=de'"><i class="flag-icon flag-icon-de"></i></a>
    		<a th:href="@{/}+'?lang=ie'"><i class="flag-icon flag-icon-ie"></i></a>
    	</div>
	</footer>
</body>
</html>